<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Dados do Aluno
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="/admin/users">Usuários</a></li>
    <li class="active"><a href="/admin/users/create">Cadastrar</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">Novo Usuário</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" action="#" method="post">
          <div class="box-body">
            <div class="form-group">
              <label for="nomeAluno">Nome do Aluno</label>
              <input type="text" class="form-control" id="nomeAluno" name="nomeAluno" placeholder="Digite o nome do Aluno">
            </div>
<div class="form-group">
<label for="sexoAluno">Sexo</label>
<input type="radio" name="webmaster" value="masculino"/> Masculino<br />
<input type="radio" name="webmaster" value="feminino"/> Feminino<br />
</div>
            <div class="form-group">
              <label for="nascimentoAluno">Data de Nascimento</label>
              <input type="tel" class="form-control" id="nascimentoAluno" name="nascimentoAluno" placeholder="Digite a data de Nascimento do Aluno">
            </div>

            <div class="form-group">
              <label for="naturalidadeAluno">Naturalidade</label>
              <input type="text" class="form-control" id="naturalidadeAluno" name="naturalidadeAluno" placeholder="Digite a Naturalidade do Aluno">
            </div>
            
            <div class="form-group">
              <label for="nacionalidadeAluno">Nacionalidade</label>
              <input type="text" class="form-control" id="nacionalidadeAluno" name="nacionalidadeAluno" placeholder="Digite a Nacionalidade do Aluno">
            </div>

            <div class="form-group">
              <label for="certidaoAluno">Certidão de Nascimento</label>
              <input type="text" class="form-control" id="certidaoAluno" name="certidaoAluno" placeholder="Digite o n° certidão de nascimento Aluno">
            </div>
            
            <div class="form-group">
              <label for="termoCertidao">Termo</label>
              <input type="text" class="form-control" id="termoCertidao" name="termoCertidao" placeholder="Digite o Termo">
            </div>
            <div class="form-group">
              <label for="folhaCertidao">Folha</label>
              <input type="text" class="form-control" id="folhaCertidao" name="folhaCertidao" placeholder="Digite a Folha">
            </div>
            <div class="form-group">
              <label for="livroCertidao">Livro</label>
              <input type="text" class="form-control" id="livroCertidao" name="folhaCertidao" placeholder="Digite o Livro">
            </div>
            <div class="form-group">
              <label for="dataEmissaoCertidao">Data de Emissão</label>
              <input type="text" class="form-control" id="dataEmissaoCertidao" name="dataEmissaoCertidao" placeholder="Digite a data de Emissão da Certidão">
            </div>

            <div class="form-group">
              <label for="cartorioCertidao">Cartório</label>
              <input type="text" class="form-control" id="cartorioCertidao" name="cartorioCertidao" placeholder="Digite o Cartório">
            </div>
            <div class="form-group">
              <label for="numeroRg">RG</label>
              <input type="text" class="form-control" id="numeroRg" name="numeroRg" placeholder="Digite o Número do RG">
            </div>
            <div class="form-group">
              <label for="dataEmissaoRg">Data de Emissão RG</label>
              <input type="text" class="form-control" id="dataEmissaoRg" name="dataEmissaoRg" placeholder="Digite a data de Emissão do RG">
            </div>
            <div class="form-group">
              <label for="orgaoExpedidorRg">Órgão Expedidor do RG</label>
              <input type="text" class="form-control" id="orgaoExpedidorRg" name="orgaoExpedidorRg" placeholder="Digite o Órgão Expedidor do RG (Ex: SSP-BA)">
            </div>
            <div class="form-group">
              <label for="enderecoAluno">Endereço do Aluno</label>
              <input type="text" class="form-control" id="enderecoAluno" name="enderecoAluno" placeholder="Digite o Endereço do Aluno">
            </div>
            <div class="form-group">
              <label for="telefoneAluno">Telefone</label>
              <input type="tel" class="form-control" id="telefoneAluno" name="telefoneAluno" placeholder="Digite o telefone">
            </div>
            <div class="form-group">
<label for="sexoAluno">Cor</label>
<input type="radio" name="webmaster" value="branca"/> Branca<br />
<input type="radio" name="webmaster" value="preta"/> Preta<br />
<input type="radio" name="webmaster" value="parda"/> Parda<br />
<input type="radio" name="webmaster" value="amarela"/> Amarela<br />
<input type="radio" name="webmaster" value="indigena"/> Indígena<br />
<input type="radio" name="webmaster" value="pni"/> Prefiro Não Identificar<br />
</div>
<div class="form-group">
<label for="sexoAluno">Utiliza Transorte Escolar?</label>
<input type="radio" name="webmaster" value="sim"/> Sim<br />
<input type="radio" name="webmaster" value="nao"/> Não<br />
</div>
            <div class="form-group">
              <label for="nomePaiAluno">Nome do Pai do Aluno</label>
              <input type="text" class="form-control" id="nomePaiAluno" name="nomePaiAluno" placeholder="Digite o Nome do Pai do Aluno">
            </div>

            <div class="form-group">
              <label for="nomeMaeAluno">Nome da Mãe do Aluno</label>
              <input type="text" class="form-control" id="nomeMaeAluno" name="nomeMaeAluno" placeholder="Digite o Nome da Mãe do Aluno">
            </div>

            <div class="checkbox">
              <label>
                <input type="checkbox" name="inadmin" value="1"> Acesso de Administrador
              </label>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-success">Cadastrar</button>
          </div>
        </form>
      </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->